[Unit]
Description=SrvTest
Wants=SrvTest.service
Before=SrvTest.service

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/patrick/.Xauthority"
ExecStart=/usr/local/bin/srv_test
WorkingDirectory=/home/patrick 

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
